* {
	/* border: 1px solid red; */
	/* box-sizing: border-box; */
	/* padding: 0; */
	/* margin: 0; */
  /*text-align: center;*/
  }
ul{
  text-align: left;
}
a{
  text-decoration: none;
}
.wrapper_container{
    display: grid;
    text-align: center;
    /* width: 100vw; */
    justify-items: center;
    /* align-items: center; */
    border: 3px solid black;
}

.link-buttons{
 font-family: "Roboto Mono", monospace;
  font-size: larger;
  font-weight: bolder;
  /*text-align: center;*/
}

.link-button_item:hover {
  background: #4faaff; /* #61b3ff #4faaff ; #00bbff; /*#4faaff*/
  color: white
}

.link-button_item:active {
  background: #008cff;
  color: white;
}
.stats {
  font-family: "Roboto Mono", monospace;
}
.header{
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  text-align: center;
}

.footer {
  font-family: "Roboto Mono", monospace;
  font-size: xx-small;
  text-align: center;
  color: gray;
}

.news, .virus, .safety, .misc{
  font-family: 'Roboto', sans-serif;
}
.country iframe{
  border: none;
  flex-grow: 1; margin: 0;
  height: 525px;
  overflow:hidden;
  width :100%;
}
@media (min-width: 650px){
.container {
	/* border: 1px solid red; */
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	/* grid-template-columns: 1fr; */
	grid-template-rows: 1fr 0.3fr auto auto auto auto;
	grid-gap: 0.5em 0.5em;
	justify-content: center;
	align-content: center;
	position: relative;
	/* z-index:100!important; */
	z-index:100;
	/* height: 100vh; */
    /* width: 100vw; */
    /* margin: auto; */
    /* align-self: center; */
}


.link-buttons{
  display: -ms-flexbox;
  display: -webkit-flex;
  grid-column: span 6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /*font-family: "Roboto Mono", monospace;
  font-size: larger;
  font-weight: bolder;*/
  padding: 1em;
}
.link-button_item{
  padding: 0.5em;
  margin: 0;
}

.graph {
  /* border: 2px solid gray; */
	 justify-self: center; 
	 align-self: center; 
   margin: auto; 
    /*display: block;*/
    /* grid-column: 1 / 2; */
    grid-column: 1/6;
    grid-row: 3 / 4;
     max-width: 75vw; 
     /*min-width: 70vw;*/
    height: auto;
}

.stats {
  /*font-family: "Roboto Mono", monospace;*/
  display: flex;
	justify-self: center;
  align-self: center;
  flex-direction: column;
  flex-wrap: wrap;
	/* margin: auto; */
     /* display: block;  */
    /* grid-column: 1 / 2; */
    grid-column: 6/7;
    grid-row: 3 / 4;
    /* width: 90vw; */
    height: auto;
}
.stats-items{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 1em;
}
.stats-flex-items{ /*Can we make it flex direction as row when the width is mobile width? */
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin: auto; */
  /* padding-bottom: 1em; */
}

.country{
  /* border: 2px solid red; */
    display: flex;
    /* flex-grow: 1; border: none; margin: 0; padding: 0;  */
    /* flex-grow: 1; */
    grid-column: span 3;
    grid-row: 4 / 5;
    /* align-self: flex-start; */
    width: 100%;
    /* height: 180em; */
    /* height: auto; */
    /* position: relative; */
    /* width:100%; */
    /* height:400px; */
    /* background:#cad2d3; */
    margin: 0 auto;
    /* border-radius:6px */
    /* margin: auto; */
    /* position: relative; */
}
.country iframe{
  flex-grow: 1; border: none; margin: 0; padding: 0;
  height: 525px;
  overflow:hidden;
  width :100%;
}
.header {
	/*font-family: "Roboto Mono", monospace;*/
	/*font-weight: bold;*/
	/* font-size: larger; */
	/*text-align: center;*/
	/* display: flex; */
	/* flex-direction: row; */
	/* border: 2px solid blue; */
	grid-column: span 6;
	grid-row: 1 / 2;
}
.footer {
	/*font-family: "Roboto Mono", monospace;*/
	/*font-size: xx-small;*/
	/*text-align: center;*/
	/* display: inline-block; */
	grid-row: 6 / 7;
  grid-column: span 6;
  max-width: 125em;
  margin: auto;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  color: gray;
}
.share {
	display: flex;
	justify-content: space-evenly;
  /* flex: auto auto auto; */
  margin: auto;
	padding: 0em;
  flex-direction: column;
  flex-wrap: wrap;
	/* border: 1px solid green; */
	grid-column: 6/7;
  grid-row: 4/5;
  align-items: center;
  align-content: space-evenly;
}

.news{
  /*font-family: 'Roboto', sans-serif;*/
  grid-row: 4/5;
  grid-column: span 2;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 3em;
  /* margin: auto; */
}
.virus{
  /*font-family: 'Roboto', sans-serif;*/
  grid-row: 5/6;
  grid-column: span 2;
  display: block;
  width: 100%;
  height: 100%;
}
.safety{
  /*font-family: 'Roboto', sans-serif;*/
  grid-row: 5/6;
  grid-column: span 2;
  display: block;
  width: 100%;
  height: 100%;
  /* padding-left: 10em; */
  /* margin: auto; */
}
.misc{
  /*font-family: 'Roboto', sans-serif;*/
  grid-row: 5/6;
  grid-column: span 2;
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
li {
  padding: 0.25em;
}
}