<div class="footer" style="font-size: x-small;">
Updated at {{ commit.current_time }} with commit SHA : {{ commit.commit_sha }}<br>
This website is &copy; 2020 by Shantam Raj. It is provided to the public strictly for educational and academic research purposes. It relies upon publicly available data from multiple sources. I disclaim any and all representations and warranties with respect to the website, including accuracy, fitness for use, and merchantability. Reliance on the website for medical guidance or use of the website in commerce is strictly prohibited.
</div>
