<div class="header">
    <h1>COVID-19 stats and information for India</h1>
    <p style="max-width: 70em; color: #606060; margin: auto; text-align: center;">An effort to educate the masses on the FACTS and keeping misinformation at bay. Read about coronavirus and how it affects your body. Learn how to keep safe from scams and fake news. <span style="color:indianred">For the latest stats bookmark this site or visit JHU Dashboard since MOHFW is always behind.</span></p>
</div>
<div class="link-buttons">
    <div class="link-button_item"><a href="https://coronavirus.jhu.edu/map.html">JHU Dashboard</a></div>
    <div class="link-button_item"><a href="https://github.com/CSSEGISandData/COVID-19">JHU Dataset</a></div>
    <div class="link-button_item"><a href="https://github.com/armsp/covid19.in">Code</a></div>
    <div class="link-button_item"><a href="https://www.who.int/">WHO</a></div>
    <div class="link-button_item"><a href="https://www.mohfw.gov.in/index.html">MOFHW</a></div>
</div>