<meta charset="utf-8">
<meta name="COVID-19 India" content="COVID-19 tracking and Statistics in India. Repository of high quality information on the coronavirus, COVID-19 disease, safety, precaution, fake news and fads.">
<title>COVID-19 India</title>
<link rel="icon" type="image/png" sizes="32x32" href= "virus-32.png">
<link rel="icon" type="image/png" sizes="16x16" href= "virus-16.png">
<link rel=" apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">

<!-- TWITTER -->
<meta name="twitter:title" content="COVID-19 India">
<meta name="twitter:description" content="COVID-19 tracking and Statistics in India. Repository of high quality information on the coronavirus, COVID-19 disease, safety, precaution, fake news and fads.">
<meta name="twitter:url" content="https://armsp.github.io/covid19.in" />
<meta name="twitter:creator" content="@electroarm">
<!-- <meta name="twitter:image" content=" .....jpg"> -->
<!-- FB -->
<meta property="og:title" content="COVID-19 India">
<meta property="og:description" content="COVID-19 tracking and Statistics in India. Repository of high quality information on the coronavirus, COVID-19 disease, safety, precaution, fake news and fads.">
<!-- <meta property="og:image" content=".....png"> -->
<meta property="og:url" content="https://armsp.github.io/covid19.in">

<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel='stylesheet' type='text/css' media='screen' href='style.css'>
<link rel='stylesheet' type='text/css' media='screen' href='share.css'>