<div class="header">
    <h1>COVID-19 stats and information for India</h1>
    <p style="max-width: 70em; color: #606060; margin: auto; text-align: center;">An effort to disseminate FACTS and keeping misinformation at bay. Read about SARS-CoV-2 and how COVID-19 affects your body, how to keep safe from scams, fake news and fads out in the wild. <span style="color:indianred">For latest stats bookmark this site or for real time statistics visit JHU Dashboard.</span></p>
</div>
<div class="link-buttons">
    <div><a class="link-button_item" href="https://coronavirus.jhu.edu/map.html">JHU Dashboard</a></div>
    <div><a class="link-button_item" href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf">Helpline</a></div>
    <div><a class="link-button_item" href="/covid19.in/visualizations">Visualizations</a></div>
    <div><a class="link-button_item" href="{{ state_stats.link }}">State Stats</a></div>
    <div><a class="link-button_item" href="https://www.mohfw.gov.in/index.html">MoHFW</a></div>
    <div><a class="link-button_item" href="https://github.com/CSSEGISandData/COVID-19">JHU Dataset</a></div>
</div>