<div class="stats">
    <div class="stats-items">
        <div>
            <h4>WORLD</h4>
        </div>
        <div class="stats-flex-items">
            <div><span>Cases - {{ stats.w_cases }}</span></div>
            <div><span>Deaths - {{ stats.w_deaths }}</span></div>
            <div><span>Recovered - {{ stats.w_recovered }}</span></div>
        </div>
        <div style="color:gray; font-size: x-small;">Source - JHU Dashboard</div>
    </div>
    <div class="stats-items">
        <div>
            <h4>INDIA</h4>
        </div>
        <div class="stats-flex-items">
            <div><span>Cases - {{ stats.i_cases }}</span></div>
            <div><span>Deaths - {{ stats.i_deaths }}</span></div>
            <div><span>Recovered - {{ stats.i_recovered }}</span></div>
        </div>
        <div style="color:gray; font-size: x-small;">Source - JHU Dataset</div>
    </div>
</div>